@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.ais-SearchBox {
    width: 100%;
  }
  .ais-SearchBox-form {
    position: relative;
    border-bottom: 1px solid #aaa;
    display: flex;
    justify-content: space-between;
  }
  .ais-SearchBox-input {
    border: none;
    padding: 0.2em;
    font-size: 1.4em;
    flex-grow: 1;
  }

  .icon {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
  .icon :global(svg) {
    height: 30px;
  }

